{% extends "base.html" %}
{% load querystring from django_tables2 %}
<!--{% load trans blocktrans from i18n %}-->
{% load bootstrap3 %}

{% block content %}
<form id="searchform" action="/helpdesk/search/" method="get" accept-charset="utf-8">
 <button class="searchbutton" type="submit">
   <i class="fa fa-search"></i>
 </button>
 <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">
</form>

{% if departments %}
    <div class="table-container">
{% endif %}

{% if subjects %}
    <div class="table-container">
{% endif %}

{% if not subjects and not departments %}
    <p>Not results</p>
{% endif %}
{% endblock %}
