{% extends "base.html" %}
{% load querystring from django_tables2 %}
<!--{% load trans blocktrans from i18n %}-->
{% load bootstrap3 %}

{% block content %}



<div>
  <center>
    <h1>Consulta</h1>
    <div class="titol"></div>
  </center>

  <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel quadre">
        <div class="row espai">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
            <p><b>Data de publicació:</b></p> 
            <p class="list-group-item disabled">{{topic.creation_date}}</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
            <p><b>Prioritat:</b> </p> 
            <p class="list-group-item disabled">{{topic.priority}}</p> 
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
            <p><b>Estat:</b></p> 
            <p class="list-group-item list-group-item-info">{{topic.status}}</p>
          </div>
        </div>
    </div>

</div>

{% if topic.status != "CLOSED"  %}
<div class="container">

  {% if request.user.id == topic.author.id and topic.status != "CLOSED"  %}
      <form action="/helpdesk/topics/{{topic.id}}/" method="POST" style="margin-bottom: 10px;">
        {% csrf_token %}
        <input type="submit" class="btn btn-info" value="Tancar Ticket" />
      </form>
  {% endif %}

  <button type="button" id="reply_button" class="btn btn-info">Respondre</button>

  <div id="reply_container" style="display:none;"><br>
    <form action="/helpdesk/topics/{{topic.id}}/comment/" method="post">
      {% csrf_token %}
      {% bootstrap_form comment_form %}
      {% buttons submit='OK' reset="Reset" %}{% endbuttons %}
    </form>
  </div>

</div>
{% endif %}
<br>
<div class="container">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel quadre espai">
    <div class="col-lg-8 col-md-6 col-sm-6 col-xs-6 autor">
      <b> {{topic.author}}</b>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 text-center">
      <p class="list-group-item disabled">{{topic.creation_date}}</p>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-justify">
      <b> {{topic.title}}</b>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-justify">
      <p> {{topic.content}}</p>
    </div>
  </div>
</div>

<div class="container">
  {% if comments|length > 0 %}
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-justify panel quadre espai">
    {% for comment in comments %}
    <div class="col-lg-8 col-md-6 col-sm-6 col-xs-6 autor">
      <b> {{comment.author}}</b>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 text-center">
      <p class="list-group-item disabled">{{comment.date_published}}</p>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-justify">
      <p>{{comment.content}}</p>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
    <p>

  <b><i>Valoració</i></b> <strong id="rating_value">{{ comment.rating }}</strong> 

  {% if user.is_authenticated and request.user.id == topic.author.id %}
          <button id="rating" data-comid="{{comment.id}}" class="btn btn-primary" type="button">
          <span class="glyphicon glyphicon-thumbs-up"></span>
          Like
          </button>
  {% endif %}

  </p>
</div>  
{% endfor %}
  </div>
  {% endif %}
{% endblock %}
  </div>



