{% extends "base.html" %}
{% load querystring from django_tables2 %}
<!--{% load trans blocktrans from i18n %}-->
{% load bootstrap3 %}

{% block content %}



<div>
<p>Topic title: {{topic.title}}</p>


<p>
  Publication Data: {{topic.creation_date}} Priority: {{topic.priority}} Status: {{topic.status}}
</p>
</div>
<div>
<p>
  Author: {{topic.author}}
</p>
<p>
  Content: {{topic.content}}
</p>
</div>
<div>
{% for comment in comments %}
  <p>Comment author: {{comment.author}}</p>
  <p>Comment content: {{comment.content}}</p>
  <p>

  <strong id="rating_value">{{ comment.rating }}</strong> people like this category

  {% if user.is_authenticated %}
          <button id="rating" data-comid="{{comment.id}}" class="btn btn-primary" type="button">
          <span class="glyphicon glyphicon-thumbs-up"></span>
          Like
          </button>
  {% endif %}

  </p>
  <p></p>
{% endfor %}
</div>
{% endblock %}
