<!DOCTYPE html>
<html>
<head>
 <title>{% block title %}{% endblock %}</title>

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


{% load staticfiles %}


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'helpdesk/css/styles.css' %}" />

</head>

	<header>
		<a href="/"><img src="{% static 'helpdesk/img/logo.png' %}" width="180"></a>
		<nav>
          <a  {% if rol == "pdi" %}
          href="{% url "pdi_topics" %}"
         {% elif rol == "pas" %}
         href="{% url "pas_topics" %}"
         {% elif rol == "student" %}
         href="{% url "student_topics" %}"
         {% endif %}{% if section == "topics" %}class="selected"{% endif %}
         >Consultes</a>

            <a {% if rol == "pdi" %}
         href="{% url "pdi_new_topic" %}"
         {% elif rol == "pas" %}
         href="{% url "pas_new_topic" %}"
         {% elif rol == "student" %}
         href="{% url "student_new_topic_pdi" %}"
         {% endif %}{% if section == "ask_faq" %}class="selected"{% endif %}
         >Nova consulta</a>

        {% if rol != "student" %}
            <a {% if rol == "pdi" %}
         href="{% url "pdi_ranking" %}"
         {% elif rol == "pas" %}
         href="{% url "pas_ranking" %}"
         {% endif %}{% if section == "ranking" %}class="selected"{% endif %}
         >Rànquing</a>
        {% endif %}

            <a 	{% if rol == "pdi" %}
         href="{% url "pdi_profile" request.user.pdi.pk %}"
         {% elif rol == "pas" %}
         href="{% url "pas_profile" request.user.pas.pk %}"
         {% elif rol == "student" %}
         href="{% url "student_profile" request.user.student.pk %}"
         {% endif %}{% if section == "profile" %}class="selected"{% endif %}
            >Perfil</a>

		</nav>
		<input type="checkbox" id="menu">
				<label for="menu"><img class="imenu" src="{% static 'helpdesk/img/menu.png' %}" width="100"></label>

					<ul class="nav2">
					<li>          <a  {% if rol == "pdi" %}
          href="{% url "pdi_topics" %}"
         {% elif rol == "pas" %}
         href="{% url "pas_topics" %}"
         {% elif rol == "student" %}
         href="{% url "student_topics" %}"
         {% endif %}{% if section == "topics" %}class="selected"{% endif %}
         >Consultes</a></li>
					<li>            <a {% if rol == "pdi" %}
         href="{% url "pdi_new_topic" %}"
         {% elif rol == "pas" %}
         href="{% url "pas_new_topic" %}"
         {% elif rol == "student" %}
         href="{% url "student_new_topic_pdi" %}"
         {% endif %}{% if section == "ask_faq" %}class="selected"{% endif %}
         >Nova consulta</a></li>
			 {% if rol != "student" %}		<li>
            <a {% if rol == "pdi" %}
         href="{% url "pdi_ranking" %}"
         {% elif rol == "pas" %}
         href="{% url "pas_ranking" %}"
         {% endif %}{% if section == "ranking" %}class="selected"{% endif %}
         >Rànquing</a>
       </li> {% endif %}
					<li><a 	{% if rol == "pdi" %}
         href="{% url "pdi_profile" pk=request.user.pdi.pk %}"
         {% elif rol == "pas" %}
         href="{% url "pas_profile" pk=request.user.pas.pk %}"
         {% elif rol == "student" %}
         href="{% url "student_profile" pk=request.user.student.pk %}"
         {% endif %}{% if section == "profile" %}class="selected"{% endif %}
            >Perfil</a></li>
					<img src="{% static 'helpdesk/img/urv.png' %}" width="80">
				</ul>

	</header>

<body class="homepage">


  <!--<span class="user">
   {% if request.user.is_authenticated %}
     Hello {{ request.user.first_name }},
     <a href="{% url 'logout' %}">Logout</a>
   {% else %}
     <a href="{% url 'login' %}">Log-in</a>
   {% endif %}
  </span>-->

</div>
 <div id="content">
   {% block content %}
   {% endblock %}
 </div>
</body>

	<footer>
		<p>© CODEATHON URV 2016 - DJANGOG</p>
	</footer>

</html>
